.btn{
  display: inline-block;
  padding: 0.5rem 1.25rem;
  border: 2px solid var(--color-chambray);
  border-radius: 20px;
  background-color: var(--color-rich-black);
  color: var(--color-silver-lake);
  font-weight: 800;
  cursor: pointer;
}

.btn:hover{
  transform: scale(1.1);
}

.btn:active{
  border-color: var(--color-rich-black);
}

.btn-delete{
  background-color: var(--color-alert);
  color: var(--color-rich-black);
}
