.map-control {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.map-control label {
  display: block;
  margin-bottom: 3px;
  margin-left: 10px;
  font-weight: 600;
  color: var(--color-silver-lake);
}

.map-control input[type="text"], .map-control textarea {
  width: 100%;
  padding: 8px;
  border: 5px solid var(--color-chambray);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 0.9em;
  outline: none;
  color: var(--color-rich-black);
}

h3 {
  align-self: center;
  font-size: 1.1em;
  color: var(--color-platinium);
}

input[readonly] {
  background-color: #e9ecef;
  cursor: not-allowed;
}

.latlng-wrapper{
  display: flex;
  flex-direction: row;
  max-width: 100%;
  gap: 20px;
}
