<div id="map-container">
  <div id="map"></div>
  <div>
    <div *ngIf="menuSpotMode===MapSpotEnum.DEFAULT">
      <button class="btn btn-map"
              [style.bottom.%]="2"
              [style.right.%]="2"
              (click)="toggleMenuMode(MapSpotEnum.CREATE)">+</button>
    </div>
    <div *ngIf="menuSpotMode===MapSpotEnum.CREATE">
      <app-add-spot (onAddSpot)="createSpot($event)"></app-add-spot>
    </div>

    <button *ngIf="menuSpotMode!==MapSpotEnum.DEFAULT"
            class="btn btn-map"
            [style.bottom.%]="2"
            [style.left.%]="2"
            (click)="toggleMenuMode(MapSpotEnum.DEFAULT)"><</button>

    <div *ngIf="menuSpotMode===MapSpotEnum.VIEW">
      <app-view-spot
        [onSelectedSpot]="selectedSpot"
        (ondeleteSpotEmitter)="removeSpot($event)"></app-view-spot>
    </div>

  </div>
</div>
