<div id="map">
  <div>
    <div *ngIf="menuSpotMode===MapSpotEnum.DEFAULT">
      <app-button right = "10px"
                  bottom = "30px"
                  text = "+"
                  (btnClick)="toggleMenuMode(MapSpotEnum.CREATE)"/>
    </div>
    <div *ngIf="menuSpotMode===MapSpotEnum.CREATE">
      <app-add-spot (onAddSpot)="createSpot($event)"></app-add-spot>
    </div>

    <app-button *ngIf="menuSpotMode!==MapSpotEnum.DEFAULT" left = "10px"
                bottom = "30px"
                text = "<"
                (btnClick)="toggleMenuMode(MapSpotEnum.DEFAULT)"/>

    <div *ngIf="menuSpotMode===MapSpotEnum.VIEW">
      <app-view-spot [spot]="selectedSpot"></app-view-spot>
    </div>

  </div>
</div>
