<div *ngIf="!isAddComment" class="map-popUp">

  <header>
    <h1>{{ spot.name }}</h1>
    <h3>{{ "#" + spot.uuid }}</h3>
  </header>
 <!-- tutaj beda zdjecia
      tutaj bedzie przyblizona lokalizacja-->
  <h2>{{location}}</h2>
  <button
    class="btn"
    (click)="openInGoogleMaps()">
    navigate
  </button>

  <div id="creation">
    <h3>{{ "Creator: " + spot.creatorUsername }}</h3>
    <h3>{{ spot.creationDate | amTimeAgo }}</h3>
  </div>

  <h1>Comments:     {{ spot.commentCount }}</h1>

  <app-view-comments
    *ngFor="let comment of spotComments"
    [comment]="comment"
    (deleteEmitter)="onDeletedComment($event)">
  </app-view-comments>
  <button
    class="btn"
    *ngIf="isMoreCommentToLoad &&spot.commentCount!==0"
    (click)="loadComments()">Load more
  </button>
  <button
    class="btn"

    (click)="toggleCommentAdd()">Add comment
  </button>
  <button
    class="btn btn-delete"
    *ngIf="isUserPermittedToDelete"
    (click)="deleteSpot()">delete spot
  </button>
</div>

<app-add-comment *ngIf="isAddComment" (onAddSpotComment)="addComment($event)"></app-add-comment>

