<div *ngIf="!isAddComment" class="map-popUp">

  <div>
    <span class="spot-name">{{ spot.name }}</span>
    <span class="spot-id">{{ "#" + spot.id }}</span>
  </div>
  <hr/>
 <!-- tutaj beda zdjecia
      tutaj bedzie przyblizona lokalizacja-->
  <span>{{location}}</span>
  <button
    (click)="openInGoogleMaps()">
    navigate
  </button>

  <div>
    <span>{{ "Creator: " + spot.creatorUsername }}</span>
    <span>{{ spot.creationDate | amTimeAgo }}</span>
  </div>
  <hr/>

  <span>Comments:     {{ spot.commentCount }}</span>

  <app-view-comments
    *ngFor="let comment of spotComments"
    [comment]="comment"
    (deleteEmitter)="onDeletedComment($event)">
  </app-view-comments>

  <button *ngIf="isMoreCommentToLoad &&spot.commentCount!==0"

          (click)="loadComments()">
    Load more
  </button>

  <button (click)="toggleCommentAdd()">
    Add comment
  </button>
  <button *ngIf="isUserPermittedToDelete" (click)="deleteSpot()">delete spot</button>
</div>

<app-add-comment *ngIf="isAddComment" (onAddSpotComment)="addComment($event)"></app-add-comment>

