.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.spot-name {
  font-size: 2em;
  color: #000000;
}

.spot-id {
  font-size: 1em;
  color: #bab9b9;
}

.spot-creator{
  font-size: 1.2em;
  color: #000000;
}

.spot-date{
  font-size: 1em;
  color: #252525;
}

.comments {
  font-size: 1em;
  color: #333333;
}

.comment-btn {
  width: 60%;
  padding: 10px;
  margin: 10px 20%;
}
