<h2 class="form-header">Log-In form</h2>
<app-message *ngIf="messageInfo.enabled" color="{{messageInfo.color}}" text="{{messageInfo.text}}" textColor="{{messageInfo.textColor}}"></app-message>
<form (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="username">Username</label>
        <input type="text" name="username" [(ngModel)]="logInRequest.username" id="username" placeholder="Add username">
    </div>
    <div class="form-control">
        <label for="password">Password</label>
        <input type="password" name="password" [(ngModel)]="logInRequest.password" id="password" placeholder="Add password">
    </div>

    <input type="submit" value="Log In" class="btn btn-block">
</form>
