<h2 class="form-header">Sign-Up form</h2>
<app-message *ngIf="messageInfo.enabled" color="{{messageInfo.color}}" text="{{messageInfo.text}}" textColor="{{messageInfo.textColor}}"></app-message>
<form (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="email">E-mail</label>
        <input type="text" name="email" [(ngModel)]="signUpRequest.email" id="email" placeholder="Add e-mail">
    </div>
    <div class="form-control">
        <label for="username">Username</label>
        <input type="text" name="username" [(ngModel)]="signUpRequest.username" id="username" placeholder="Add username">
    </div>
    <div class="form-control">
        <label for="firstName">First name</label>
        <input type="text" name="firstName" [(ngModel)]="signUpRequest.firstName" id="firstName" placeholder="Add first name">
    </div>
    <div class="form-control">
        <label for="lastName">Last name</label>
        <input type="text" name="lastName" [(ngModel)]="signUpRequest.lastName" id="lastName" placeholder="Add last name">
    </div>
    <div class="form-control">
        <label for="password">Password</label>
        <input type="password" name="password" [(ngModel)]="signUpRequest.password" id="password" placeholder="Add password">
    </div>
    <div class="form-control">
        <label for="repeatPassword">Repeat Password</label>
        <input type="password" name="repeatPassword" [(ngModel)]="repeatPassword" id="repeatPassword" placeholder="Repeat password">
    </div>

    <input type="submit" value="Sign Up" class="btn btn-block">
</form>
