<body>
<div id="image-wrapper">
  <header>
    <h1>Welcome Diver!</h1>
    <p>Jakis randomomy tekst ktory sie kiedys uzupelni o tym jak to warto sie zarejestrowac i co czeka bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
  </header>
  <div class="grid-wrapper">
    <img style="grid-area: box1" ngSrc="/rafa.jpg" alt="rafa" height="1024" width="1024"/>
    <img style="grid-area: box2" ngSrc="/rekin.jpg" alt="rekin" height="1024" width="1024"/>
    <img style="grid-area: box3" ngSrc="/boat.jpg" alt="boat" height="1024" width="1024"/>
  </div>
</div>
<div id="flex-wrapper">
  <h2 class="form-header">Sign-Up form</h2>
  <app-message *ngIf="messageInfo.enabled" color="{{messageInfo.color}}" text="{{messageInfo.text}}" textColor="{{messageInfo.textColor}}"></app-message>
  <form (ngSubmit)="onSubmit()">

    <div class="form-control">
      <label for="email">E-mail</label>
      <input type="text" name="email" [(ngModel)]="signUpRequest.email" id="email" placeholder="e-mail">
    </div>

    <div class="form-control">
      <label for="username">Username</label>
      <input type="text" name="username" [(ngModel)]="signUpRequest.username" id="username" placeholder="username">
    </div>
  <div class="name-wrapper">
    <div class="form-control">
      <label for="firstName">First name</label>
      <input type="text" name="firstName" [(ngModel)]="signUpRequest.firstName" id="firstName" placeholder="first name">
    </div>

    <div class="form-control">
      <label for="lastName">Last name</label>
      <input type="text" name="lastName" [(ngModel)]="signUpRequest.lastName" id="lastName" placeholder="last name">
    </div>
  </div>

    <div class="form-control">
      <label for="password">Password</label>
      <input type="password" name="password" [(ngModel)]="signUpRequest.password" id="password" placeholder="password">
    </div>

    <div class="form-control">
      <label for="repeatPassword">Repeat Password</label>
      <input type="password" name="repeatPassword" [(ngModel)]="repeatPassword" id="repeatPassword" placeholder="repeat password">
    </div>

    <input type="submit" value="Sign Up" class="btn">
  </form>
</div>
</body>
