<form class="map-popUp"
      (ngSubmit)="onSubmit()"
      (click)="$event.stopPropagation()">
  <header>Create a new Comment!</header>
  <div class="map-control">
    <label for="name">Comment's name</label>
    <input type="text"
           name="name"
           id="name"
           [(ngModel)]="spotCommentRequest.name"
           placeholder="Write comment's name"
           required>
  </div>
  <div class="map-control">
    <div class="map-control">
      <label for="description">Comment's description</label>
      <textarea
             name="comment"
             id="description"
             [(ngModel)]="spotCommentRequest.description"
             wrap="soft"
             placeholder="Write comment's description"
             rows="1"
             (input)="TextAreaAutoResize($event)"
             required></textarea>
    </div>
  </div>
  <input type="submit" value="Save comment" class="btn btn-block"/>
</form>

